/* Reset some default styles */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, sans-serif;
}

body {
    background-color: #f5f5f5;
    color: #333;
}

header {
    background-color: #549695;
    color: white;
    /* height: 10vh;
    padding: 2vh; */
    padding: 1rem;
    text-align: center;
}

.nav_container{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

header nav a {
    color: white;
    margin: 0 1rem;
    text-decoration: none;
    font-weight: bold;
}

main {
    padding: 2rem;
}

.main_container{
    height: 90vh;
    background-color: rgb(99, 186, 157);
    display: flex;
    flex-direction: column;
    justify-content:space-around;
    align-items: center; 
}

.about_container{
    display: flex;
    flex-direction: column;
    /* justify-content:space-around;  */
    align-items: center;
}

.centerAdiv{
    display: flex;
    justify-content: space-around;
    align-items: start;
}

.early_announcement{
    display: flex;
    justify-content:  center;
    align-items: center;
}

footer {
    text-align: center;
    padding: 1rem;
    background-color: #222;
    color: white;
    position: fixed;
    width: 100%;
    bottom: 0;
}
